// Place all the styles related to the end_user::chats controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.chat-rooms {
  height: 85vh;
  // max-height: 70vh;
  border: 1px solid gray;
  background-color: white;
  .chat-list {
    margin-top: 0px;
    overflow-y: scroll!important;
    height: 72vh;
  }
}

.chat-room {
  height: 85vh;
  // max-height: 70vh;
  border: 1px solid gray;
  background-color: white;
  .chat-content {
    margin-top: 4px;
  }
  .chat-content {
    overflow-y: scroll;
    height: 72vh;
    // max-height: 515px;
    .message {
      width: 600px;
    }
  }
  #room {
    margin: 0;
    padding: 10px 0;
    border-bottom: 1px solid rgba(192,192,192,0.5);
  }
  .chat-form {
    margin-top: 0.4rem;

  } .message-form {
    border: 0.1em solid rgba(192,192,192,0.5);
    outline: none;
    border-radius: 0.67em;
    padding: 5px;
    height: auto;
  }
  .message-btn {
    margin-left: 5px;
    font-size: 16px;
    border: none;
    background-color: white;
    color: rgba(0,0,205,0.7);
  }
}

.messege {
  display: flex;
  justify-content: space-between!important;
  min-width: 620px!important;
  max-width: 620px!important;
}
.message-body, .message-left, .message-right {
  width: 620px!important;
}

.message-box-left {
  max-width: 280px;
  border: 1px solid rgba(192,192,192,0.2);
  background-color: rgba(192,192,192,0.2);
  border-radius: 1em;
  padding: 7px;
}
.message-box-right {
  max-width: 280px;
  border: 1px solid rgba(192,192,192,0.3);
  border-radius: 1em;
  padding: 7px;
}

.message-right {
  display: flex;
  justify-content: flex-end;
}

.message-left {
  display: flex;
  justify-content: flex-start;
}

.chat-notice-circle {
  padding: 0;
  margin: 0;
  color: rgba(105,105,105,0.6);
  font-size: 13px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: rgba(255,240,0,0.7);
  text-align: center;
}