// Place all the styles related to the end_user::end_users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// 使いまわしの可能性あり
.user_image {
  width: 150px;
  min-height: 150px!important;
  border: solid 2px rgba(211,211,211,0.8);
  border-radius: 50%;
}
.follow-btn-style {
  border: 1px solid gray;
  border-radius: 5px;
  padding: 4px;
  text-decoration: none!important;
  color: black;
  font-weight: 550;
}

// show

.profile {
  min-height: 200px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 20px;

  &_image {

    .user_image {
      width: 150px;
      min-height: 150px!important;
      border: solid 2px rgba(211,211,211,0.8);
      border-radius: 50%;
    }
  }
}
.profile_foot {
  margin-left: 10px;
}

.link {
  display: flex;
  align-items: center;
  margin: 10px 0;

  &_edit-btn {
    border: 1px solid rgba(211,211,211,1);
    border-radius: 5px;
    padding: 4px;
    text-decoration: none;
    color: black;
    margin-right: 14px;
    font-family: 'Kosugi Maru', sans-serif;
  }
  &_block-btn {
    border: 1px solid rgba(211,211,211,1);
    border-radius: 5px;
    padding: 4px;
    text-decoration: none;
    color: black;
    margin-right: 14px;
    font-family: 'Kosugi Maru', sans-serif;
  }
  #contact-button, .quit-modal {
    border: 1px solid rgba(211,211,211,1);
    border-radius: 5px;
    padding: 4px;
    font-family: 'Kosugi Maru', sans-serif;
    background-color: rgba(236,236,236,0);
  }
  &_block-create {
    border: 1px solid rgba(211,211,211,1);
    border-radius: 5px;
    padding: 4px;
    text-decoration: none;
    color: black;
    margin-left: 25px;
    font-family: 'Kosugi Maru', sans-serif;
  }
  &_block-create:hover {
    color: red;
    font-weight: 600;
  }

  &_chat-btn {
    border: 1px solid rgba(211,211,211,1);
    border-radius: 5px;
    padding: 4px;
    text-decoration: none;
    color: black;
    margin-left: 14px;
  }
}
.profile-detail {
  display: flex;
  align-items: center;

  &_list {
    margin-right: 20px;
  }
}
.user-name {
  font-weight: 600;
  margin: 5px 0;
}
.user-introduction {
  margin-top: 18px;
  width: 365px;
}
.image-empty-box {
  width: 100%;

  .image-empty-text {
    width: 100%;
    margin-top: 20px;
    text-align: center;
  }
}
.contact-text {
  margin: 10px auto;
  width: 480px;
}
.contact-label {
  font-weight: none;
  margin: 6px 0;
}
.contact-form {
  padding: 5px;
  outline: none;
  border-radius: 0.4em;
  border: 1px solid #666;
}

// ここまで
.tab-flex {
  display: flex!important;
  flex-flow: row wrap;
}
.post-image {
  width: 310px;
  height: 230px;
  margin: 5px 5px 0 0;
}

// end_user/mutual_follow
.mutual_follow-top {
  margin-top: 20px;
}



// edit
#thumb_prev, .post_user_image {
  width: 50px;
  min-height: 50px;
  border: solid 2px rgba(211,211,211,0.8);
  border-radius: 50%;
  cursor: pointer;
}

.img-prev {
  height: 60px;
  cursor: pointer;
}

.quit-modal {
  border: 1px solid rgba(211,211,211,1);
  border-radius: 5px;
  padding: 4px;
  font-family: 'Kosugi Maru', sans-serif;
  background-color: rgba(236,236,236,0);
}
.quit-modal:hover {
  color: red;
  font-weight: 600;
}
.modal-body > p {
  line-height: 26px;
}

// edit
.edit-box {
  border: 1px solid rgba(211,211,211,0.5);
  border-radius: 0.2em;
  background-color: white;
  padding: 10px;
  margin-top: 35px;

  .edit-count {
    display: flex;
    justify-content: flex-end;
    margin: 2px 0;

    .js-text-count {
      font-size: 10px;
      margin: 0 80px;
    }
  }

  .edit-introduction {
    display: flex;
    margin: 18px 0 2px 0;

    label {
      margin: 0;
      width: 120px;
      text-align: right;
    }
    .edit-icon, i {
      width: 10px;
      margin-right: 25px;
      color: red;
      font-size: 0.7em;
    }
    input, textarea, select {
      padding: 5px;
      border-radius: 0.2em;
      border: 1px solid rgba(211,211,211,0.9);
      outline: none;
    }
  }

  .edit-flex {
    display: flex;
    margin: 18px 0;

    label {
      margin: 0;
      width: 120px;
      text-align: right;
    }
    .edit-icon, i {
      width: 10px;
      margin-right: 25px;
      color: red;
      font-size: 0.7em;
    }
    input, textarea, select {
      padding: 5px;
      border-radius: 0.2em;
      border: 1px solid rgba(211,211,211,0.9);
      outline: none;
    }
  }
}