// Place all the styles related to the end_user::homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.top-head {
  margin-top: 50px;
  max-width: 100vw;
  height: 90vh;
  position: relative;
  background-color: white;

  div.top-main {
    width: 100%;
    margin-top: 15vh;

    .top-title {
      text-align: center;
      font-size: 7em;
      font-family: 'Frijole', cursive;
    }
    h3.sabtitle {
      text-align: center;
      padding-top: 8px;
    }
    .logo-box {
      margin-top: 8vh;
      display: flex;
      justify-content: center;
      .logo {
        background-image: image-url('logo.jpg');
        width: 200px;
        height: 200px;
      }
    }
  }
}
.about-head {
  max-width: 100vw;
  padding: 12px;
  background-color: rgb(26,116,150);

  .about-title-en {
    font-family: 'Rowdies', cursive;
    font-size: 32px;
    text-align: center;
    color: white;
    margin: 0;
  }
  .about-title-ja {
    font-size: 16px;
    text-align: center;
    color: white;
    margin: 0;
  }
}

.about-main {
  max-width: 100vw;
  padding: 4vh 5vw;
  margin-bottom: 5vh;
  background-color: rgba(230,230,230,0.2);
  display: flex;
  flex-flow: row wrap;

  &_top {
    width: 90vw;
    margin: 30px;

    h6.about-description {
      font-size: 18px;
      font-weight: bold;
      line-height: 28px;
      color: rgb(26,116,140);
    }
  }

  &_item {
    width: 40vw;
    height: 40vh;
    border-radius: 16px;
    background-color: white;
    margin: 20px 2.2vw;
    padding: 0 12px 10px 12px;

    .item-title {
      font-size: 20px;
      margin-bottom: 15px;
      font-weight: bold;
      text-align: center;

      .title-underline {
        background: linear-gradient(transparent 70%, yellow 70%);
      }
    }

    .item-inner-flex {
      display: flex;

      .item-inner-left {
        width: 19.5vw;
        height: 30.5vh;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;

        .item-left-img-1 {
          width: 19.5vw;
          height: 30.5vh;
          background-image: image-url('top_item_1.jpg');
          background-size: cover;
          border-radius: 4px;
        }
        .top-item-logo {
          font-size: 12em;
        }
        .top-notice-circle {
          font-size: 5em;
          color: rgba(255,240,0,0.7);
          position: absolute;
          right: 70px;
          top: 50px;
        }

        .item-left-img-4 {
          width: 19.5vw;
          height: 30.5vh;
          background-image: image-url('chat_sample.jpg');
          background-size: cover;
          border-radius: 4px;
        }

        .item-left-img-5 {
          width: 19.5vw;
          height: 30.5vh;
          background-image: image-url('search_sample.jpg');
          background-size: cover;
          border-radius: 4px;
        }

        .item-left-img-7 {
          width: 19.5vw;
          height: 30.5vh;
          background-image: image-url('rakuten_search.jpg');
          background-size: cover;
          border-radius: 4px;
        }

        .item-left-img-8 {
          width: 19.5vw;
          height: 30.5vh;
          background-image: image-url('post_sample.jpg');
          background-size: cover;
          border-radius: 4px;
        }
      }

      .item-inner-right {
        width: 19.5vw;
        height: 30.5vh;
        padding: 0 9px;
        display: flex;
        justify-content: center;
        align-items: center;

        .inner-box {

          .item-detail {
            font-size: 1.5rem;
            line-height: 26px;
          }
          .item-detail-foot {
            padding-top: 5px;
            border-top: 1px rgba(192,192,192,0.7) dashed;
            font-size: 1.5rem;
            line-height: 26px;
          }
        }
      }
    }
  }
}

.top-head_nav {
  position: fixed;
  z-index: 1;
  bottom: 55px;
  right: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}
.guest-color {
  background-color: rgba(255,69,0,0.8);
}
.login-color {
  background-color: rgba(0,255,0,0.5);
}
.signup-color {
  background-color: rgba(65,105,225,0.8);
}
.admin-color {
  background-color: rgba(218,112,214,0.7);
}
.top-head_nav_manu {
  margin: 0 15px;
  min-width: 70px;
  min-height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  box-shadow: 0 0 8px gray;
  p {
      margin: 0;
      color: black;
      font-family: 'Kosugi Maru', sans-serif;
  }
}
.scroll-btn {
  margin: 0 10px;
  min-width: 50px;
  min-height: 50px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  box-shadow: 0 0 8px gray;
}.fa-long-arrow-alt-up {
  color: black;
  font-size: 1.5em;
}