// Place all the styles related to the end_user::posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// end_user/posts/new

.post-new-box {
  border: 1px solid gray;
  padding: 12px;
  margin-bottom: 20px;
  list-style: none;
  background-color: white;
}

.work-area {
  display: flex;
  flex-flow: row wrap;
}

.material_name .material_shop {
  padding: 0px;
}

.text-form {
  padding: 0.2em;
  border-radius: 0.67em;
  outline: none;
  border-color: gray;
}

.img-size, #img_prev {
  border: 2px solid gray;
  border-radius: 0.67em;
}


// end_user/posts/index
.icon-size {
  text-decoration: none;
  color: black;
  font-size: 1.4em;
  margin: 6px;
}

.heart_red {
  color:#e54747;
}

.bookmark_black {
  color: black;
}
.icon-size:hover {
  color: black;
}

.content {
  border: 2px solid gray;
  width: 600px;
  margin-bottom: 25px;
  background-color: white;

  &_user {
    margin: 10px 5px;
}
  &_image {
    display: flex;
    justify-content: center;
}
  &_foot {
    padding: 5px 8px 0 10px;

    .list-icon {

      .icon {

        .icon-size {
          text-decoration: none;
          color: black;
          font-size: 1.4em;
          margin: 6px;
        }

        .heart_red {
          color:#e54747;
        }

        .bookmark_black {
          color: black;
        }
      }
    }
  }
}

.detail-list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  border-bottom: 1px solid gray;

  .create-time {
    min-width: 70%;
  }
}

// 検索・並び替えサイドバー
.fixed-sidebar {
  width: 300px!important;
  border: 1px solid gray;
  background-color: white;
  position: fixed;
  top: 72px;
  right: 290px;
}
.sort-menu {
  margin: 10px 0;
}


// end_user/posts/show

.post-detail-box {
  background-color: white;
  border: 1px solid gray;
  padding: 8px 0;
  .show-top {
    display: flex;
    justify-content: space-between;
    .top-right > i {
      margin-left: 10px;
    }
  }
}

.content_image {
  min-width: 550px;
  display: flex;
  justify-content: space-between;
  .post-img {
    width: 550px;
  }
  .post-details {
    list-style: none;
  }
}


.detail-materials {
  display: flex;
  flex-flow: row wrap;
}

.detail-works {
  display: flex;
  flex-flow: row wrap;

  .work-box {
    width: 120px;

    .work_detail {
      padding: 4px;
    }
  }
}

// show/comment
.fixed-menu-show {
  width: 300px!important;
  border: 1px solid gray;
  background-color: white;
  position: fixed!important;
  top: 72px;
  right: 250px;
  padding: 8px 0 8px 8px;
  .comment-section {
    max-height: 400px;
    overflow-y: scroll;

    &_head {
      display: flex;
      justify-content: flex-start;

      .commented-user {
        margin: 0;
      }
      .commented-time {
        font-size: 12px;
        margin: 0 0 0 5px;
      }
    }
  }
  &_body {
    max-width: 270px;
    height: auto;
    word-wrap: break-word;
  }
}

.comment-form {
  border: none;
  outline: none;
  color: black;
  font-weight: 400;
  min-width: 280px;
  max-width: 400px;
}

.post-comment {
  border: none;
  background-color: white;
  color: lightblue;
  font-weight: 600;
}

// favorite
