<div class="top-head">
  <div class="top-main">
    <h1 class="top-title">
      TSUKULOG
    </h1>
    <h3 class="sabtitle">
      DIYを楽しんで、人生を豊かに。
    </h3>
    <div class="logo-box">
      <div class="logo"></div>
    </div>
  </div>
  <ul class="top-head_nav">
    <%= link_to end_users_guest_sign_in_path, method: :post, class: "" do %>
      <li class="top-head_nav_manu guest-color">
        <p>ゲスト</p>
      </li>
    <% end %>
    <%= link_to new_end_user_session_path, class: "" do %>
      <li class="top-head_nav_manu login-color">
        <p>ログイン</p>
      </li>
    <% end %>
    <%= link_to new_end_user_registration_path do %>
      <li class="top-head_nav_manu signup-color">
        <p>新規登録</p>
      </li>
    <% end %>
    <%= link_to new_admin_session_path do %>
      <li class="top-head_nav_manu admin-color">
        <p>管理者</p>
      </li>
    <% end %>
    <li class="scroll-event"><a href="#" class="scroll-btn"><i class="fas fa-long-arrow-alt-up"></i></a></li>
  </ul>
</div>
<div class="about-head">
  <h3 class="about-title-en">About</h3>
  <h3 class="about-title-ja">つくログで何ができるの？</h3>
</div>
<section class="about-main">
  <div class="about-main_top">
    <h6 class="about-description text-center">
      つくログは、DIYを楽しむ人を繋ぐオンラインプラットフォームです。<br>
      DIYの作品を共有したり、友達の作品の細かな工程まで閲覧できます。<br>
      楽しいDIYライフを共有しよう！
    </h6>
  </div>
  <div class="about-main_item">
    <h4 class="item-title"><span class="title-underline">作品を投稿しよう!</span></h4>
    <div class="item-inner-flex">
      <div class="item-inner-left">
        <div class="item-left-img-1"></div>
      </div>
      <div class="item-inner-right">
        <div class="inner-box">
          <p class="item-detail">
            作品にタイトルを付けて投稿しよう！<br>
            投稿には細かい工程や、材料などを記述しよう！<br>
            工程ごとに画像を載せて難しい作業も相手に伝わりやすくしよう！！
          </p>
          <p class="item-detail-foot">
            友達や上級者の投稿した作品を参考にしよう！
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="about-main_item">
    <h4 class="item-title"><span class="title-underline">友達を作ろう!</span></h4>
    <div class="item-inner-flex">
      <div class="item-inner-left">
        <div class="fas fa-people-arrows top-item-logo"></div>
      </div>
      <div class="item-inner-right">
        <div class="inner-box">
          <p class="item-detail">
            気になるユーザーや親交を深めたいユーザーをフォローしよう！<br>
            相互フォローの友達はマイページから確認しよう！
          </p>
          <p class="item-detail-foot">
            フォロー申請が来たら確認して、フォローを返そう！
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="about-main_item">
    <h4 class="item-title"><span class="title-underline">DMで交流しよう!</span></h4>
    <div class="item-inner-flex">
      <div class="item-inner-left">
        <div class="item-left-img-1"></div>
      </div>
      <div class="item-inner-right">
        <div class="inner-box">
          <p class="item-detail">
            作品にタイトルを付けて投稿しよう！<br>
            投稿には細かい工程や、材料などを記述しよう！<br>
            工程ごとに画像を載せて難しい作業も相手に伝わりやすくしよう！！
          </p>
          <p class="item-detail-foot">
            友達や上級者の投稿した作品を参考にしよう！
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="about-main_item">
    <h4 class="item-title"><span class="title-underline">怪しいユーザーがいたら...</span></h4>
    <div class="item-inner-flex">
      <div class="item-inner-left">
        <div class="item-left-img-1"></div>
      </div>
      <div class="item-inner-right">
        <div class="inner-box">
          <p class="item-detail">
            作品にタイトルを付けて投稿しよう！<br>
            投稿には細かい工程や、材料などを記述しよう！<br>
            工程ごとに画像を載せて難しい作業も相手に伝わりやすくしよう！！
          </p>
          <p class="item-detail-foot">
            友達や上級者の投稿した作品を参考にしよう！
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="about-main_item">
    <h4 class="item-title"><span class="title-underline">通知を確認しよう！</span></h4>
    <div class="item-inner-flex">
      <div class="item-inner-left">
        <div class="item-left-img-1"></div>
      </div>
      <div class="item-inner-right">
        <div class="inner-box">
          <p class="item-detail">
            作品にタイトルを付けて投稿しよう！<br>
            投稿には細かい工程や、材料などを記述しよう！<br>
            工程ごとに画像を載せて難しい作業も相手に伝わりやすくしよう！！
          </p>
          <p class="item-detail-foot">
            友達や上級者の投稿した作品を参考にしよう！
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="about-main_item">
    <h4 class="item-title"><span class="title-underline">検索・並び替えしよう！</span></h4>
    <div class="item-inner-flex">
      <div class="item-inner-left">
        <div class="item-left-img-1"></div>
      </div>
      <div class="item-inner-right">
        <div class="inner-box">
          <p class="item-detail">
            作品にタイトルを付けて投稿しよう！<br>
            投稿には細かい工程や、材料などを記述しよう！<br>
            工程ごとに画像を載せて難しい作業も相手に伝わりやすくしよう！！
          </p>
          <p class="item-detail-foot">
            友達や上級者の投稿した作品を参考にしよう！
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="about-main_item">
    <h4 class="item-title"><span class="title-underline">商品検索しよう!</span></h4>
    <div class="item-inner-flex">
      <div class="item-inner-left">
        <div class="item-left-img-1"></div>
      </div>
      <div class="item-inner-right">
        <div class="inner-box">
          <p class="item-detail">
            作品にタイトルを付けて投稿しよう！<br>
            投稿には細かい工程や、材料などを記述しよう！<br>
            工程ごとに画像を載せて難しい作業も相手に伝わりやすくしよう！！
          </p>
          <p class="item-detail-foot">
            友達や上級者の投稿した作品を参考にしよう！
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="about-main_item">
    <h4 class="item-title"><span class="title-underline">【いいね！】【ストック!】しよう！</span></h4>
    <div class="item-inner-flex">
      <div class="item-inner-left">
        <div class="item-left-img-1"></div>
      </div>
      <div class="item-inner-right">
        <div class="inner-box">
          <p class="item-detail">
            作品にタイトルを付けて投稿しよう！<br>
            投稿には細かい工程や、材料などを記述しよう！<br>
            工程ごとに画像を載せて難しい作業も相手に伝わりやすくしよう！！
          </p>
          <p class="item-detail-foot">
            友達や上級者の投稿した作品を参考にしよう！
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
