// Place all the styles related to the admin::contacts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.denger-message {
  color: red;
}

#contact_checked {
  padding: 5px;
  border-radius: 1em;
  margin-right: 10px;
}
.contact-update-btn {
  padding: 3px;
  border-radius: 0.2em;
}