// Place all the styles related to the admin::posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// admin/posts/index
.admin-posts {
  margin: 30px 0 20px 10px;
}

// admin/posts/show

.admin-content-image {
  border: 2px solid gray;
  border-radius: 0.67em;
  margin-right: 100px;
  width: 150px;
}

.admin-content_top {
  display: flex;
  margin-bottom: 12px;
}

.response-list {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  margin: 15px 0;

  &_detail {
    margin-right: 26px;

    .link-btn {
      margin-left: 4px;
      background-color: white;
      border: 1px solid rgba(211,211,211,0.7);
    }
  }
}

.td-color {
  background-color: white;
}

.main-left {
  padding: 0 15px 0 0!important;
}

.main-right {
  padding: 0 0 0 15px!important;
}