<button type="button" id="quitbutton" class="quit-modal">
  サインアウトする
</button>

<!-- モーダル・ダイアログ -->
<div class="modal fade" id="quitmodal" tabindex="-1">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span>×</span></button>
				<h4 class="modal-title text-center">確認事項</h4>
			</div>
			<div class="modal-body text-center">
				<p>
					サインアウトすると、登録情報やこれまでの<br>
        	投稿内容等の閲覧できなくなります。<br>
        	サインアウトする場合は、「サインアウト」をクリックしてください。<br>
        	※ゲストユーザーのみ「サインアウト」しても継続利用可能となっています。
        </p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">閉じる</button>
				<%= link_to "サインアウト", out_end_users_path, method: :patch, class: "btn btn-danger" %>
			</div>
		</div>
	</div>
</div>