<div class="col-xs-5 col-xs-offset-3">
  <h5 class="text-center">通知</h5>
    <%= link_to notifications_destroy_all_path, method: :delete do %>
      <div class="text-right">
        <h6 class="fas fa-trash" style="color: black;">全削除</h6>
      </div>
    <% end %>
  <% if @notifications.exists? %>
    <div class="jscroll jscroll-select notice-main">
      <%= render @notifications %>
      <%= paginate @notifications %>
    </div>
  <% else %>
    <p>通知はありません</p>
  <% end %>
</div>
<div class="scroll-event">
  <a href="#" class="scroll-btn-post"><i class="fas fa-long-arrow-alt-up"></i></a>
</div>
