/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body,
.body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: rgba(236,236,236,0.2);
}

footer {
  height: 3vh;
  max-width: 100vw;
  border-top: 1px solid black;
  margin-top: auto;
}

.container {
  margin-top: 70px;
}

.navbar-default {
  background-color: white;
}

.header-logo {
  text-decoration: none;
  color: black;
  }
  .header-logo:hover {
    color: black;
}

.nav-left {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-right {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  .navigation {
    margin-left: 30px;
  }
}
.header-user-image {
  border: solid 1px rgba(192,192,192,0.7);
  border-radius: 50%;
  width: 30px;
  height: 30px;
}
.fa-size {
  text-decoration: none;
  color: black;
  font-size: 1.6em
  }
  .fa-size:hover {
    color: black;
}
.n-circle {
  position: absolute;
  right: 485px;
  padding-left: 1rem;
  padding-top: 0rem;
  color: rgba(255,240,0,0.7);
}

// header-admin
#wrapper {
margin-left: 230px;
}

#sidebar-wrapper {
width: 230px;
background: #555;
height: 100%;
position: fixed;
left: 0;
top: 0;
}

#sidebar-wrapper .logo {
text-transform: uppercase;
color: #FFF;
text-align: center;
padding: 15px 0;
font-size: 36px;
font-weight: bold;
border-bottom: 1px solid #666;
}

#sidebar-wrapper .nav.nav-pills.nav-stacked {
margin-top: 30px;
}

#sidebar-wrapper .nav.nav-pills.nav-stacked li {

}

#sidebar-wrapper .nav.nav-pills.nav-stacked li a {
color: #FFF;
}

#sidebar-wrapper .nav.nav-pills.nav-stacked li a:hover {
background: #333;
}

