/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kosugi+Maru&family=Rowdies:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kosugi+Maru&family=Roboto+Mono&family=Rowdies:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p, a, label, input, textarea, select, option, button
th, td, ul, li, span{
  // 日本語フォント
  font-family: 'Kosugi Maru', sans-serif;
  text-decoration: none;
  color: black;
}

p {
  font-size: 1.4rem;
}

html {
  font-size: 10px;
}



body,
.body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: rgba(236,236,236,0.2);
}

footer {
  height: 3vh;
  max-width: 100vw;
  border-top: 1px solid rgba(192,192,192,0.7);
  margin-top: auto;
  background-color: white;
  p {
    margin: 0;
    font-size: 11px;
  }
}

.container {
  margin-top: 10vh;
  width: 76vw;
}

.navbar-default {
  background-color: white;
}

.header-logo {
  text-decoration: none;
  color: black;
  }
  .header-logo:hover {
    color: black;
}

.nav-left {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-right {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  .navigation {
    margin-left: 30px;
  }
}
.header-user-image {
  border: solid 1px rgba(192,192,192,0.7);
  border-radius: 50%;
  width: 30px;
  height: 30px;
}
.fa-size {
  text-decoration: none;
  color: black;
  font-size: 1.6em
  }
  .fa-size:hover {
    color: black;
}
.n-circle {
  position: absolute;
  right: 485px;
  padding-left: 1rem;
  padding-top: 0rem;
  color: rgba(255,240,0,0.7);
}

// headerログイン前
.header-logo-position {
  margin-left: 60px;
}
.head-right-nav-login {
  margin: 0 5px 0 150px;
}

.head-nav {
  text-decoration: none;
  color: black;
  font-family: 'Roboto Mono', monospace;
  font-weight: 600;
}

.head-right-nav {
  margin: 0 5px 0 35px;
}

// header-admin
#wrapper {
margin-left: 230px;
}
.admin-logo {
  color: white;
}

#sidebar-wrapper {
width: 230px;
background: #555;
height: 100%;
position: fixed;
left: 0;
top: 0;
}

#sidebar-wrapper .logo {
text-transform: uppercase;
color: #FFF;
text-align: center;
padding: 15px 0;
font-size: 36px;
font-weight: bold;
border-bottom: 1px solid #666;
}

#sidebar-wrapper .nav.nav-pills.nav-stacked {
margin-top: 30px;
}

#sidebar-wrapper .nav.nav-pills.nav-stacked li {

}

#sidebar-wrapper .nav.nav-pills.nav-stacked li a > span{
color: white;
}

#sidebar-wrapper .nav.nav-pills.nav-stacked li a:hover {
background: #333;
}

// 無限スクロール
ul.pagination {
  display: none;
}

// ログイン画面
.login-container {
  margin-top: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  &_box {
    margin-top: 50px;
    width: 380px;
    height: 430px;
    border: 1px solid rgba(192,192,192,0.7);
    border-radius: 0.2em;
    background: white;
    .login-head-en {
      margin: 0;
      padding-top: 15px;
      font-family: 'Rowdies', cursive;
      font-size: 30px;
    }
    .login-head-ja {
      font-family: 'Kosugi Maru', sans-serif;
      margin: 0 10px 20px 10px;
      padding: 10px;
      border-bottom: 1px gray dotted;
    }
    .new_end_user {
      .field {
        margin-top: 14px;

        .login-label {
          font-family: 'Kosugi Maru', sans-serif;
          font-size: 14px;
          margin-bottom: 10px;
        }
        .login-mail-form, .login-password-form {
          padding: 5px;
          width: 260px;
          border: none;
          border: 1px solid gray;
          border-radius: 0.5em;
        }
      }
      .actions {
        margin: 10px 10px 24px 10px;
        padding-bottom: 20px;
        border-bottom: 1px gray dotted;

        .login-btn {
          padding: 4px 44px;
          font-family: 'Roboto Mono', monospace;
          font-weight: 600;
          color: white;
          background: rgba(106,90,205,0.8);
          border: 1px solid rgba(106,90,205,0.8);
          box-shadow: 0 0 4px gray;
        }
      }
    }
    .guest-login {

      a.guest-login-btn {
        padding: 4px 20px;
        font-family: 'Kosugi Maru', sans-serif;
        font-weight: 600;
        color: white;
        background: rgba(255,165,0,0.8);
        border: 1px solid rgba(255,165,0,0.8);
        box-shadow: 0 0 4px gray;
      }
    }
  }
}

// サインアップ
.signup-container {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  &_box {
    margin-top: 45px;
    width: 450px;
    min-height: 430px;
    border: 1px solid rgba(192,192,192,0.7);
    border-radius: 0.2em;
    background: white;
    .signup-head-en {
      margin: 0;
      padding-top: 5px;
      font-family: 'Rowdies', cursive;
      font-size: 30px;
    }
    .signup-head-ja {
      font-family: 'Kosugi Maru', sans-serif;
      margin: 0 10px 20px 10px;
      padding: 10px;
      border-bottom: 1px gray dotted;
    }
    .new_end_user {
      .field {
        margin-top: 14px;

        .signup-label {
          font-family: 'Kosugi Maru', sans-serif;
          font-size: 14px;
          margin-bottom: 10px;
        }
        .signup-mail-form, .signup-password-form, .signup-name-form {
          padding: 5px;
          width: 280px;
          border: none;
          border: 1px solid gray;
          border-radius: 0.5em;
        }
      }
      .signup-actions {
        margin: 14px 10px 0px 10px;
        padding-bottom: 20px;
        border-bottom: 1px gray dotted;

        .signup-btn {
          padding: 4px 40px;
          font-family: 'Roboto Mono', monospace;
          font-weight: 600;
          color: white;
          background: rgba(72,61,139,0.8);
          border: 1px solid rgba(72,61,139,0.8);
          box-shadow: 0 0 4px gray;
        }
      }
    }
    .guest-signup {
      margin-bottom: 20px;
      a.guest-signup-btn {
        padding: 4px 20px;
        font-family: 'Kosugi Maru', sans-serif;
        font-weight: 600;
        color: white;
        background: rgba(255,165,0,0.8);
        border: 1px solid rgba(255,165,0,0.8);
        box-shadow: 0 0 4px gray;
      }
    }
  }
}

// 管理者ログイン
.admin-login-container {
  margin-top: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  &_box {
    margin-top: 50px;
    width: 380px;
    height: 430px;
    border: 1px solid rgba(192,192,192,0.7);
    border-radius: 0.2em;
    background: white;
    .admin-head-en {
      margin: 0;
      padding-top: 15px;
      font-family: 'Rowdies', cursive;
      font-size: 30px;
    }
    .admin-head-ja {
      font-family: 'Kosugi Maru', sans-serif;
      margin: 0 10px 20px 10px;
      padding: 10px;
      border-bottom: 1px gray dotted;
    }
    .new_admin {
      .field {
        margin-top: 14px;

        .admin-label {
          font-family: 'Kosugi Maru', sans-serif;
          font-size: 14px;
          margin-bottom: 10px;
        }
        .admin-mail-form, .admin-password-form {
          padding: 5px;
          width: 260px;
          border: none;
          border: 1px solid gray;
          border-radius: 0.5em;
        }
      }
      .admin-actions {
        margin: 10px 10px 24px 10px;
        padding-bottom: 20px;
        border-bottom: 1px gray dotted;

        .admin-login-btn {
          padding: 4px 65px;
          font-family: 'Roboto Mono', monospace;
          font-weight: 600;
          color: white;
          background: rgba(106,90,205,0.8);
          border: 1px solid rgba(106,90,205,0.8);
          box-shadow: 0 0 4px gray;
        }
      }
    }
    .admin-guest-login {

      a.admin-guest-btn {
        padding: 4px 20px;
        font-family: 'Kosugi Maru', sans-serif;
        font-weight: 600;
        color: white;
        background: rgba(255,165,0,0.8);
        border: 1px solid rgba(255,165,0,0.8);
        box-shadow: 0 0 4px gray;
      }
    }
  }
}

// リンクに対するstyle
.link-style-none {
  text-decoration: none;
  color: black;
}

.header-room-list {
  display: flex;
  justify-content: center;
  align-items: center;
   .chat-notice-circle-head {
    padding: 0;
    margin: 0;
    color: rgba(105,105,105,0.6);
    font-size: 13px;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    background-color: rgba(255,240,0,0.7);
    text-align: center;
  }
}

// error
.alert-warning {
  padding: 5px;
   ul {

     li {
       list-style: none;
       width: 100%;
       text-align: center;
     }
   }
}