<tbody>
  <% followers.each do |follower| %>
			<tr>
			  <td>
			  	<%= link_to follower.name, end_user_path(follower) %>
			  </td>
			  <td>
  		    <%= link_to "", end_user_relationships_path(follower), method: :post, remote: true, id: "create-follow", class: "fas fa-user-plus follow-btn-style",'data-turbolinks': false %>
			  </td>
			</tr>
  <% end %>
</tbody>