<% if current_end_user != end_user %>
  <% if end_user.followed_by?(current_end_user) %>
    <p><%= link_to "", end_user_relationships_path(end_user.id, user: "end_user"), method: :delete, remote: true, class: "fas fa-user-minus follow-btn-style" %></p>
  <% else %>
    <p><%= link_to "", end_user_relationships_path(end_user.id, user: "current_end_user"), method: :post, remote: true, class: "fas fa-user-plus follow-btn-style" %></p>
  <% end %>
<% end %>