<div class="col-xs-5 col-xs-offset-2">
  <h4>ブロック中ユーザー</h4>
  <table class="table unblock-content">
    <%= render 'index', user_blocks: @user_blocks %>
  </table>
</div>
<div class="col-xs-3">
  <h5>アプリ内ブロックに関して</h5>
  <p>
    ブロックしているユーザーからは、<%= current_end_user.name %>さんの投稿やマイページなどの情報は一切閲覧できません。<br>
    また、ブロックを解除しない限り<%= current_end_user.name %>さんがブロックしてる人の投稿やマイページは閲覧できません。
  </p>
</div>